<div id="game">

<h4>Let's start playing, <%= session[:player_name] %> !</h4>

<div class="well" >
  <h4>The dealer cards are: </h4>
      <% session[:dealer_cards].each_with_index do |card, i| %>
        <% if session[:turn] != "matrix" && i == 0 %>
          <img src='/images/cards/cover.jpg' class='card_image'>
        <% else %>
          <%= card_to_image(card) %>
        <% end %>
      <% end %>

        <% if @show_dealer_hit_button %>
        <div id="dealer_status">
          <h5>Dealer total is <%= calculate_total(session[:dealer_cards]) %> and will hit</h5>
        </div>
        <form id='form_dealer_hit' action='/game/dealer/hit' method='post'>
          <input value='Click to see dealer card &rarr;' type='submit' class='btn btn-primary'/>
        </form>
        <% end %>
</div>

<br/>

<div class="well" id='player_area'>
<!--  <a id='player_color' href='#'>Change me to yellow</a>-->
  <h4><%= session[:player_name] %>'s cards are:</h4>
    <% session[:player_cards].each do |card| %>
    <%= card_to_image(card) %>
    <% end %>
  <div id='player_status'>
    <h4>Your Total: <%= calculate_total(session[:player_cards])%></h4>
    <h5>Your have <%= session[:player_cash]%> dollars left, you bet <%= session[:amount]%> in this round.</h5>
  </div>
</div>

<%if @error %>
<div class="alert alert-error"><%=@error%></div>
<% end %>
<%if @success %>
<div class="alert alert-success"><%=@success%></div>
<% end %>

<% if @show_hit_stay_buttons == true %>
<div class="well-large">
  <h4>What would you like to do?</h4>
  <div>
    <form id='form_hit' action='/game/player/hit' method='post'>
      <input value='Hit' type='submit' class='btn btn-primary'/>
    </form>
    <form id='form_stay' action='/game/player/stay' method='post'>
      <input value='Stay' type='submit' class='btn btn-success'/>
    </form>
  </div>
</div>
<% end %>

<% if @play_again %>
<div class="well">
  <h5>Another Round?</h5>
  <a href="/place_bet" class="btn btn-success">Yes</a>
  <a href="/game_over" class="btn btn-warning">No</a>
</div>
<% end %>

</div>
